body {
    text-align: center;
    background-image: url("background.jpeg");
    color: maroon;
}

#intro {
    background-color: skyblue;
    border: 1px solid grey;
    border-radius: 5px;
    width: 250px;
    margin: auto;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

#top {
    border: 2px solid maroon;
    padding: 10px;
}

table,
tr,
td {
    border: 1px solid #9E9E9E;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 10em;
    height: 2em;
}

input[type=submit], button {
    padding: 8px 15px;
    color: white;
    background-color: maroon;
    border-radius: 5px;
    border: none;
}
